@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  width: 380px;
  height: 525px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display:block;
  height: auto;
}

.hidden {
  display: none;
}
